/* azzeramento parametri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* formattazione generale */
.dimensioni{
    width: 50%;
    margin: auto;
}

/* formattazione header */
header nav{
    height: 80px;
    padding-top: 10px;
    /* debug */
    background-color: rgb(173 216 230);
}

#menu{
    /* flexbox */
    display: flex;
    /* debug */
    height: 60px;
    background-color:rgb(218 165 32);
}

#menu div{
    /* debug */
    border: 2px solid black;
}

.icone{
    width: 20%;
}

#voci{
    width: 60%;
}

header section{
    padding: 50px 0;
    /* debug */
    background-color:rgb(0 0 139);
    height: 550px;
}

.panoramica{
    width: 40%;
    margin: auto;
    /* debug */
    background-color:rgb(238 130 238);
    height: 450px;
}

/* formattazione main pagina */
.finestra{
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    height: 630px;
}

.img{
    width: 30%;
    /* debug */
    height: 550px;
    background-color:rgb(30 144 255);
}

.description{
    width: 20%;
    /* debug */
    height: 550px;
    background-color: rgb(255 192 203);
}

.background_even{
    /* debug */
    background-color:rgb(211 211 211);
}

#download{
    /* debug */
    background-color:rgb(34 139 34);
    height: 1100px;

}

.padding{
    padding: 40px 0;
}

/* formattazione footer */
footer{
    padding: 40px 0;
    background-color:rgb(35 39 42);
    /* debug */
    height: 730px;
}

footer nav{
    padding-bottom: 30px;
    border-bottom: 3px solid #5865f2;
    /* flexbox */
    display: flex;
}

#social{
    width: 40%;
    /* debug */
    height: 500px;
    background-color:rgb(240 128 128);
}

.info{
    width: 20%;
    /* debug */
    height: 500px;
    background-color:rgb(32 178 170);
    border: 2px solid black;
}

footer section{
    margin-top: 20px !important;
    height: 80px;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color:rgb(127 255 212);
}

.logo{
    /* debug */
    background-color: red;
    height: 50px;
    width: 100px;
}

.botton{
      /* debug */
      background-color: red;
      height: 50px;
      width: 100px;
}

